.u-cell__title-text {
  color: var(--wte-color-black) !important;
}

.wte-btn {
}

.wte-btn.primary {
  background: #ee0a24;
  border-radius: 44rpx;
  color: #fff;
  line-height: 1;
  padding: 24rpx 64rpx;
}
